.cart-item p {
  margin: 0;
}

.cart-item button {
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-button {
  background-color: #007bff;
  color: white;
}

.quantity-button:hover {
  background-color: #0056b3;
}

.total {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.cart-container {
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.remove-icon {
  width: 35px; /* Розмір іконки */
  height: 35px;

}

.order-btn{

  margin-left: 50px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  
}

.order-modal {
  position: relative;
  width: 90%;
  max-height: 1000px;
  max-width: 500px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #333;
  animation: fadeIn 0.3s ease-in-out;
}

.order-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.order-details h2 {
  text-align: center;
  color: #4CAF50;
  margin-bottom: 20px;
}

.order-details label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 16px;
}

.order-details input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 16px;
}

.confirm-order-btn,
.cancel-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.confirm-order-btn {
  background-color: #4CAF50;
  color: white;
  margin-top: 15px;
}

.confirm-order-btn:hover {
  background-color: #45a049;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
  margin-top: 10px;
}

.cancel-btn:hover {
  background-color: #e53935;
}

.goods-list {
 
  padding-right: 10px; /* Додає відступ, щоб прокрутка не перекривала текст */
  list-style: none;
}


.order-line-title,
.order-line {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.order-line-title {
  font-weight: bold;
}

.order-column {
  flex: 1; /* Рівномірний розподіл простору між колонками */
  text-align: center;
}


.order-input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;

}


.inputs-container-order{
  display: flex;
  flex-direction: column;

}
.confirmation-toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50; /* Success color */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0.9;
  animation: fade-in-out 3s ease-in-out;
}

@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
    transform: translateY(20px);
  }
  10%, 90% {
    opacity: 0.9;
    transform: translateY(0);
  }
}
